# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Automatically assigns members of the web3.js team to new pending PRs as reviewers
* @avkos @jdevcs @luu-alex @Muhammad-Altabba
