{
    "presets": [
        "env"
    ],
    "plugins": [
        "babel-plugin-lodash",
        "transform-class-properties",
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ]
}
