{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb-base",
    "plugins": [],
    "rules": {
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true
            }
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "import/extensions": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "gulpfile.babel.js",
                    "gulp/**/*.js"
                ]
            }
        ],
        "comma-dangle": ["error", "never"]
    },
    "globals": {
    }
}
