{
  "rules": {
    "no-bitwise": 2,
    "camelcase": 2,
    "eqeqeq": 2,
    "no-extend-native": 2,
    "block-scoped-var": 0,
    "complexity": [
      2,
      15
    ],
    "max-depth": [
      2,
      4
    ],
    "no-new": 2,
    "no-unused-vars": 2,
    "no-undef": 2
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "plugins": [
    "mocha"
  ]
}
