.DS_Store
*.swp
*/**/*un~
*un~
*/**/.DS_Store
npm-debug.log
.npm/
/coverage
/tmp
node_modules
.idea/
.npm/
.vscode/
dist/
packages/web3/dist/
lerna-debug.log
!./dist/web3.min.js
.nyc_output/
build/
contracts/
migrations/
truffle-config.js
test/config/ensAddresses.json
