{
    "extends": "@istanbuljs/nyc-config-babel",
    "check-coverage": true,
    "reporter": ["text", "html", "lcov"],
    "lines": 80,
    "statements": 80,
    "functions": 80,
    "branches": 80
}
