# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

<!-- EXAMPLE

## [1.0.0]

### Added

- I've added feature XY (#1000)

### Changed

- I've cleaned up XY (#1000)

### Deprecated

- I've deprecated XY (#1000)

### Removed

- I've removed XY (#1000)

### Fixed

- I've fixed XY (#1000)

### Security

- I've improved the security in XY (#1000)

-->

## [0.1.0-alpha.0]

### Added

#### mock-package-1

-   I've added feature XY (#1000)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1000)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1000)

### Removed

#### mock-package-1

-   I've removed XY (#1000)

### Fixed

#### mock-package-1

-   I've fixed XY (#1000)

### Security

#### mock-package-1

-   I've improved the security in XY (#1000)

## [0.1.0-alpha.1]

### Added

#### mock-package-1

-   I've added feature XY (#1001)

#### mock-package-2

-   I've added feature XY #2 (#1001)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1001)

#### mock-package-2

-   I've cleaned up XY #2 (#1001)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1001)

#### mock-package-2

-   I've deprecated XY #2 (#1001)

### Removed

#### mock-package-1

-   I've removed XY (#1001)

#### mock-package-2

-   I've removed XY #2 (#1001)

### Fixed

#### mock-package-1

-   I've fixed XY (#1001)

#### mock-package-2

-   I've fixed XY #2 (#1001)

### Security

#### mock-package-1

-   I've improved the security in XY (#1001)

#### mock-package-2

-   I've improved the security in XY #2 (#1001)

## [0.1.0]

### Added

#### mock-package-1

-   I've added feature XY (#1002)

#### mock-package-2

-   I've added feature XY #2 (#1002)

#### mock-package-3

-   I've added feature XY #3 (#1002)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1002)

#### mock-package-2

-   I've cleaned up XY #2 (#1002)

#### mock-package-3

-   I've cleaned up XY #3 (#1002)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1002)

#### mock-package-2

-   I've deprecated XY #2 (#1002)

#### mock-package-3

-   I've deprecated XY #3 (#1002)

### Removed

#### mock-package-1

-   I've removed XY (#1002)

#### mock-package-2

-   I've removed XY #2 (#1002)

#### mock-package-3

-   I've removed XY #3 (#1002)

### Fixed

#### mock-package-1

-   I've fixed XY (#1002)

#### mock-package-2

-   I've fixed XY #2 (#1002)

#### mock-package-3

-   I've fixed XY #3 (#1002)

### Security

#### mock-package-1

-   I've improved the security in XY (#1002)

#### mock-package-2

-   I've improved the security in XY #2 (#1002)

#### mock-package-3

-   I've improved the security in XY #3 (#1002)

## [0.1.1]

### Added

#### mock-package-1

-   I've added feature XY (#1003)

#### mock-package-2

-   I've added feature XY #2 (#1003)

#### mock-package-3

-   I've added feature XY #3 (#1003)
-   I've added feature XY #4 (#1003)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1003)

#### mock-package-2

-   I've cleaned up XY #2 (#1003)

#### mock-package-3

-   I've cleaned up XY #3 (#1003)
-   I've cleaned up XY #4 (#1003)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1003)

#### mock-package-2

-   I've deprecated XY #2 (#1003)

#### mock-package-3

-   I've deprecated XY #3 (#1003)
-   I've deprecated XY #4 (#1003)

### Removed

#### mock-package-1

-   I've removed XY (#1003)

#### mock-package-2

-   I've removed XY #2 (#1003)

#### mock-package-3

-   I've removed XY #3 (#1003)
-   I've removed XY #4 (#1003)

### Fixed

#### mock-package-1

-   I've fixed XY (#1003)

#### mock-package-2

-   I've fixed XY #2 (#1003)

#### mock-package-3

-   I've fixed XY #3 (#1003)
-   I've fixed XY #4 (#1003)

### Security

#### mock-package-1

-   I've improved the security in XY (#1003)

#### mock-package-2

-   I've improved the security in XY #2 (#1003)

#### mock-package-3

-   I've improved the security in XY #3 (#1003)
-   I've improved the security in XY #4 (#1003)

## [1.0.0]

### Added

#### mock-package-1

-   I've added feature XY (#1004)

#### mock-package-2

-   I've added feature XY #2 (#1004)

#### mock-package-3

-   I've added feature XY #3 (#1004)
-   I've added feature XY #4 (#1004)
-   I've added feature XY #5 (#1004)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1004)

#### mock-package-2

-   I've cleaned up XY #2 (#1004)

#### mock-package-3

-   I've cleaned up XY #3 (#1004)
-   I've cleaned up XY #4 (#1004)
-   I've cleaned up XY #5 (#1004)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1004)

#### mock-package-2

-   I've deprecated XY #2 (#1004)

#### mock-package-3

-   I've deprecated XY #3 (#1004)
-   I've deprecated XY #4 (#1004)
-   I've deprecated XY #5 (#1004)

### Removed

#### mock-package-1

-   I've removed XY (#1004)

#### mock-package-2

-   I've removed XY #2 (#1004)

#### mock-package-3

-   I've removed XY #3 (#1004)
-   I've removed XY #4 (#1004)
-   I've removed XY #5 (#1004)

### Fixed

#### mock-package-1

-   I've fixed XY (#1004)

#### mock-package-2

-   I've fixed XY #2 (#1004)

#### mock-package-3

-   I've fixed XY #3 (#1004)
-   I've fixed XY #4 (#1004)
-   I've fixed XY #5 (#1004)

### Security

#### mock-package-1

-   I've improved the security in XY (#1004)

#### mock-package-2

-   I've improved the security in XY #2 (#1004)

#### mock-package-3

-   I've improved the security in XY #3 (#1004)
-   I've improved the security in XY #4 (#1004)
-   I've improved the security in XY #5 (#1004)

## [Unreleased]

### Added

#### mock-package-1

-   I've added feature XY (#1005)

#### mock-package-3

-   I've added feature XY #3 (#1005)
-   I've added feature XY #5 (#1005)

### Changed

#### mock-package-1

-   I've cleaned up XY (#1005)

#### mock-package-3

-   I've cleaned up XY #5 (#1005)

### Deprecated

#### mock-package-1

-   I've deprecated XY (#1005)

### Removed

#### mock-package-1

-   I've removed XY (#1005)

#### mock-package-3

-   I've removed XY #3 (#1005)
-   I've removed XY #4 (#1005)

### Fixed

#### mock-package-1

-   I've fixed XY (#1005)

#### mock-package-3

-   I've fixed XY #4 (#1005)

### Security

#### mock-package-1

-   I've improved the security in XY (#1005)

#### mock-package-3

-   I've improved the security in XY #3 (#1005)
-   I've improved the security in XY #4 (#1005)
-   I've improved the security in XY #5 (#1005)
