{
    "SEPOLIA": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "0xa127C5E6a7E3600Ac34A9a9928E52521677e7211",
            "privateKey": ""
        },
        "DEPLOYED_STORAGE_CONTRACT_ADDRESS": "0xEdFd52255571b4a9A9d4445989E39f5c14Ff0447"
        "ALLOWED_SEND_TRANSACTION": false
    },
    "MAINNET": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "",
            "privateKey": ""
        },
        "DEPLOYED_STORAGE_CONTRACT_ADDRESS": "",
        "ALLOWED_SEND_TRANSACTION": false
    }
}