{
    "SEPOLIA": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "0xa127C5E6a7E3600Ac34A9a9928E52521677e7211",
            "privateKey": ""
        },
        "ALLOWED_SEND_TRANSACTION": false
    },
    "MAINNET": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "0x0000000000000000000000000000000000000000",
            "privateKey": ""
        },
        "ALLOWED_SEND_TRANSACTION": false
    }
}