{
    "SEPOLIA": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "0xa127C5E6a7E3600Ac34A9a9928E52521677e7211",
            "privateKey": ""
        },
        "ALLOWED_SEND_TRANSACTION": false,
        "DEPLOYED_TEST_CONTRACT_ADDRESS": "0xedfd52255571b4a9a9d4445989e39f5c14ff0447"
    },
    "MAINNET": {
        "HTTP": "",
        "WS": "",
        "ACCOUNT": {
            "address": "0x98AF911164f9d4E0f5983ed114949c3Bfe3ADc9d",
            "privateKey": ""
        },
        "ALLOWED_SEND_TRANSACTION": false,
        "DEPLOYED_TEST_CONTRACT_ADDRESS": "0xdac17f958d2ee523a2206206994597c13d831ec7"
    }
}